<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/my-classes/stylesheets/style.css' />
  <title>
    My Classes
  </title>
</head>

<body>
  <div id="container">
    <nav>
      <div id="logo">
        <img src="/my-classes/images/read-book.svg" alt="book">
        <a>My Classes</a>
      </div>
      <ul>
        <li><a href="/my-classes/">Home</a></li>
        <% if (user) { %>
          <li class="dropdown"><a href="#">Classes &nbsp;<i class="fa fa-caret-down"></i></a>
            <div class="dd">
              <div id="up_arrow"></div>
              <ul>
                <li><a href="/my-classes/classes/enrolled">Enrolled Classes</a></li>
                <li><a href="/my-classes/classes/new">Enroll in a Class</a></li>
                <li><a href="/my-classes/classes">All Classes</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/my-classes/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/my-classes/auth/google">Login</a></li>
            <% } %>
      </ul>
    </nav>
  </div>
  </section>