* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  overflow-x: scroll;
}

#container {
  position: fixed;
  width: 100%;
  background-color: #4eb5f1;
  box-shadow: -2px -2px 5px black, 2px -2px 5px black;
  z-index: 100;
}

#container > nav {
  width: 100%;
  display: flex;
  max-height: 60px;
}

#logo {
  line-height: 60px;
  font-size: 30px;
  color: #eef1ee;
  width: 40%;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px;
}

#container > nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 50px;
}

#container > nav > ul > li {
  line-height: 60px;
  margin: 0 0px;
  padding: 0;
  text-align: center;
  display: inline-block;
}

#container > nav > ul > li > a {
  position: relative;
  margin: 0 20px;
  color: white;
}

#container > nav > ul > li:hover {
  border-bottom: 2px solid white;
  background-color: #0088ff;
}

#container > nav > ul > .dropdown:hover {
  border-bottom: none;
}

#container > nav > ul > .dropdown:hover > .dd {
  display: block;
  z-index: 100;
}

.dropdown:hover > a .fa-caret-down {
  display: none;
}

a {
  text-decoration: none;
}

#container > nav > ul > li > div {
  position: absolute;
  padding: 0 10px;
  background-color: black;
  display: none;
  background-color: aliceblue;
  min-width: 100px;
}

#container > nav > ul > li > div > ul {
  margin: 0px 0 10px 0;
  padding: 0;
  list-style: none;
}

#u_a_c {
  position: relative;
  width: 100%;
}

#up_arrow {
  position: relative;
  width: 20px;
  height: 20px;
  left: 26%;
  top: -10px;
  background-color: aliceblue;
  transform: rotate(45deg);
}

#container > nav > ul > li > div > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#container > nav > ul > li > div > ul > li > a {
  padding: 5px;
  color: black;
}

#logo > img {
  width: 4.5vmin;
  object-fit: contain;
  margin-right: auto;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  background-color: #4095c6;
  cursor: pointer;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  max-width: 300px;
  min-width: 300px;
  height: auto;
  padding: 5px;
  background-color: #ccc;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  max-width: 290px;
  min-width: 290px;
}

.body {
  top: 2.3vmin;
}

.review-info-container > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.reviews-wrapper > h5 {
  margin-left: 1vmin;
}

.reviews-wrapper > h2 {
  margin-left: 1vmin;
}

.review-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  text-align: center;
}
.dialog-review-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.review-rating {
  margin-top: 5px;
}

.username,
.review-wrapper > img {
  margin-top: 2vmin;
}

.message > form > button {
  display: flex;
  background-color: inherit;
  color: red;
  border: 0px;
  padding: 0;
  float: right;
}

.reviews > button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.review-wrapper {
  width: 20%;
  height: 15vmin;
  word-wrap: break-word;
  overflow-x: visible;
  display: flex;
}

.reviews-wrapper {
  box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  padding: 20px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-style-3 {
  max-width: 600px;
}

.form-style-3 label {
  margin-bottom: 10px;
}

.form-style-3 label > span {
  float: left;
  width: 100px;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #7fc8f8;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: inset 0px 0px 15px #7fc8f8;
  -moz-box-shadow: inset 0px 0px 15px #7fc8f8;
  -webkit-box-shadow: inset 0px 0px 15px #7fc8f8;
}

.form-style-3 fieldset legend {
  border-top: 1px solid #7fc8f8;
  border-left: 1px solid #7fc8f8;
  border-right: 1px solid #7fc8f8;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #f9f9f9;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #7fc8f8;
  -moz-box-shadow: -0px -1px 2px #7fc8f8;
  -webkit-box-shadow: -0px -1px 2px #7fc8f8;
  font-weight: normal;
  font-size: 12px;
}

.form-style-3 textarea {
  width: 250px;
  height: 100px;
}

.form-style-3 select,
.form-style-3 textarea,
.form-style-3 input {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #7fc8f8;
  outline: none;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #7fc8f8;
  -moz-box-shadow: inset 1px 1px 4px #7fc8f8;
  -webkit-box-shadow: inset 1px 1px 4px #7fc8f8;
  background: #f9f9f9;
  width: 35%;
}

.form-style-3 input[type="submit"] {
  background: #7fc8f8;
  border: 1px solid #f9f9f9;
  padding: 5px 15px 5px 15px;
  color: #f9f9f9;
  box-shadow: inset -1px -1px 3px #7fc8f8;
  -moz-box-shadow: inset -1px -1px 3px #7fc8f8;
  -webkit-box-shadow: inset -1px -1px 3px #7fc8f8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

.form-style-3 input[type="submit"]:hover {
  cursor: pointer;
}

.required {
  color: red;
  font-weight: normal;
}

.container {
  margin: 5% 3%;
}

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  font-size: 1em;
}

thead {
  position: relative;
  padding: 0;
  border: 0;
  height: auto;
  width: auto;
  overflow: auto;
}

th {
  background-color: #7fc8f8;
  border: 1px solid #7fc8f8;
  font-weight: normal;
  text-align: center;
  color: white;
}
th:first-of-type {
  text-align: left;
}

tr {
  display: table-row;
}

th,
td {
  padding: 0.75em 0.5em;
}

tbody {
  display: table-row-group;
}

tr {
  margin-bottom: 1em;
  display: table-row;
  border-width: 1px;
}

tr:last-of-type {
  margin-bottom: 0;
}

caption {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

tr {
  margin-bottom: 1em;
}

tr:last-of-type {
  margin-bottom: 0;
}

tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.12);
}

th[scope="row"] {
  background-color: transparent;
  color: rgba(0, 0, 0.87);
  text-align: left;
}

td {
  text-align: right;
  border-left: 1px solid #7fc8f8;
  border-bottom: 1px solid #7fc8f8;
  text-align: center;
}

td:last-of-type {
  border-right: 1px solid #7fc8f8;
}

td[data-title]:before {
  content: none;
  float: left;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.54);
}

.card {
  width: 375px;
}

.info-container {
  padding: 2px 16px;
  width: 100%;
  text-align: center;
}

.card > img {
  width: 375px;
  border-radius: 50%;
}
.details-wrapper {
  margin: 85px 0 0 10px;
  display: flex;
  box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.course-info {
  white-space: nowrap;
}

.info-wrapper {
  display: flex;
  width: 75%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-me {
  display: flex;
  flex-direction: column;
  margin-left: 5vmin;
}

.homepage-header {
  width: 100%;
  margin-top: 63px;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.imgur.com/WJt7kUF.jpeg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.homepage-header > h1 {
  margin: 0;
}
.fade-in-text {
  display: inline-block;
  font-size: 40px;
  color: white;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.homepage {
  height: 100vh;
}
.home-card {
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  min-width: 340px;
}

.home-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.home-card-container {
  padding: 2px 16px;
  color: black;
}

.card-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.modal-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-img:hover {
  opacity: 0.7;
}

.img-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 40px;
}

.home-card > img {
  width: 100%;
}
.img-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.img-modal-content,
.caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close-img {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .img-modal-content {
    width: 100%;
  }
}

textarea {
  resize: none;
}
.class-modal {
  width: 60%;
  height: 100%;
  max-width: 800px;
}

.my-class-modal > .modal-content > form {
  height: 100%;
  overflow: hidden;
}

.modal-content > form > fieldset {
  display: grid;
  grid-template-columns: 1fr;
}

fieldset > label,
fieldset > legend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset > h3 {
  margin-top: 0;
  text-align: center;
}

.a > form {
  display: inline-block;
}
.table-button {
  margin: 0;
  background-color: unset;
  border: 0;
  padding: 0;
  color: red;
  position:absolute;
  right: 70px;
}

.table-form {
  display: flex;
  float: right;
}
