* {
  box-sizing: border-box;
}
body {
  font-family: "Brush Script MT", cursive;
  margin: 0;
  height: 100vh;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f1f2f6;
  height: 5vmin;
}

.nav-wrapper > img {
  width: 5vmin;
  object-fit: contain;
  margin-right: auto;
  padding-left: 5px;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  background-color: #4095c6;
  cursor: pointer;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #dadada;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.review-wrapper > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  margin-right: 5vmin;
}

.dialogbox {
  margin-left: 8vmin;
}

.message > form > button {
  display: flex;
  background-color: inherit;
  color: red;
  border: 0px;
  padding: 0;
  float: right;
}

.username {
display: flex;
align-self: flex-start;
position:absolute;
height: 11vmin;
width: 8vmin;
align-items: flex-end;
margin-left: .7vmin;
font-size: 15px;

}

.review-wrapper {
  height: 10vmin;
}