* {
  box-sizing: border-box;
}
body {
  font-family: "Brush Script MT", cursive;
  margin: 0;
  height: 100vh;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f1f2f6;
  height: 5vmin;
}

.nav-wrapper > img {
  width: 5vmin;
  object-fit: contain;
  margin-right: auto;
  padding-left: 5px;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  background-color: #4095c6;
  cursor: pointer;
}
